.contentbody{
    background-color: #121212;
    color: white;
    width: 1115px;
    height: 49vh;
    position: relative;
    top: -80px;
}
.popular{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.artists{
    font-size: 24px;
    font:bolder;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
}
.Section{
    width: 150px;
    height: 30vh;
    border: 1px solid white;
}