
.header{
    display: flex;
    gap: 15px;

    justify-content: space-around;
}
.secc{
    position: relative;
    top: 9px;
    width: 375px;
    background: #191919;
    height: 72vh;
    color: white;
}
.library{
    display: flex;
    gap: 15px;
}
.ylib{
    color:#b3b3b3;
    font-weight: 700;
}
.firstbox{
    padding: 10px;
    min-width: 353px;
    height: 156px;
    background-color: #191919;
    
}

.secbox{
   min-width:400px;
    height: 48px;
    display: flex;
    padding: 20px;
    background-color: #191919;
    justify-content: space-between;
}
.thirdbx{
   background-color: #191919;
   color: white;
   height: 700px;
   width: 80%;
    position: relative;
    left: 311px;
    top: -80px;
}


.btns{
    display: flex;
    gap: 10px;
    font-size: medium;
    font-weight: 100;
    min-width: 245px;

}

.sign{
    width: 95px;
    height: 42px;
    font: bold;
    font-weight: 700;
    font-size: 16px;
    color: #b3b3b3;
    background-color: #191919;
    border: 0px;
    cursor: pointer;

}

.sign:hover{
    color: white;
    transform: scale(1.1);
}

.log{
     
     font-weight:700;
     font-size: 16px;
    width: 108px;
    height: 48px;
    border-radius: 25px;
    cursor: pointer;
    border:0;
}
.log:hover{
    background-color: lightgrey;
    transform: scale(1.1);
}

.load{
    display: none;
}
.logo{
    display: flex;
    gap: 10px;
}
.logo p{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b3b3b3;
}

.logo p:hover{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.spotlogo{
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.spologo{
     width: 24px;
    object-fit: contain;
}

.clickedlogo{
    width: 24px;
    object-fit: contain;
}
.tablehead{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.tablehead p{
    color: white;
    font-size: 24px;
}
.tablehead button{
    padding: 0px;
    margin: 0px;
    max-width: 64px;
    height: 18px;
    background-color: #191919;
    border: #191919;
    color: #b3b3b3;
    font-size: 14px;
    font-family:sans-serif;
    position: relative;
    top: 40px;
    left: -40px;
}
.tablehead button:hover{
    border-bottom: 2px solid #b3b3b3;
    cursor: pointer;
}